.root {
	-fx-background-color: radial-gradient(radius 90%, lightblue, #4a87a9) ;
}
.table-view #books  {
	-fx-background-color: transparent;
	-fx-table-cell-border-color:transparent;
}

.table-row-cell:empty  {
	-fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
	-fx-border-width: 0px;
}
